{%  extends "TCSCoreBundle::layout.html.twig" %}

{% block body %}

    <ul>
        {% for article in articles %}
            <li>
                {{ article.title }}
                {{ article.content }}
            </li>
        {% endfor %}

    </ul>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="">Ajouter un article</a>
    {% endif %}
{% endblock %}