{%  extends "TCSCoreBundle::layout.html.twig" %}

{% block body %}

    <ul>
        {% for article in articles %}
            <li>
                {{ article.title }}
                {{ article.content }}
            </li>
        {% endfor %}

    </ul>
{% endblock %}