
{# Page d'accueil du site #}
{%  extends "TCSCoreBundle::layout.html.twig" %}

{% block body %}
    <div id="affiche_article">
        <h3> Derniers articles en date </h3>

        {{ render(controller("TCSPlatformBundle:Article:display", {'activity': 'last-creation-date'})) }}
    </div>

{% endblock %}