
{# Page d'accueil du site #}
{%  extends "TCSCoreBundle::layout.html.twig" %}

{% block body %}
    <h3> Derniers articles en date </h3>

    {{ render(controller("TCSPlatformBundle:Article:lastArticles")) }}
{% endblock %}