{# Page affichant les streams #}
{%  extends "TCSCoreBundle::layout.html.twig" %}

{% block body %}
    <div id="stream">
        <iframe src="{{ streamUrl }}"
                frameborder="0"
                allowfullscreen="true"
                scrolling="no"
                height="378"
                width="620">

        </iframe>
        <a href="{{ liveRedirection }}"
           style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal;
            font-size:10px; text-decoration:underline;">
            Regarder une vidéo en direct de Drilliak sur www.twitch.tv
        </a>

    </div>

    <div id="chat">
        <iframe src="{{ chatUrl }}" frameborder="0" scrolling="no" height="500" width="350"></iframe>

    </div>

{% endblock %}