{# Layout général du site (structure de base qu'auront toutes les pages du site #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Accueil{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/general/header.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/general/footer.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block script%}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}" />
    </head>
    <body>


            {% block header %}
                 {{ include("TCSCoreBundle::header.html.twig") }}
            {% endblock %}

            <div id="bloc_page">
                {% block body %} {% endblock %}
            </div>

            <footer>
                <p>Copyright 2017 tous droits réservés<p>
                <p><a href = "">Nous contacter</a></p>
            </footer>

    </body>
</html>
