<nav>
    <ul id="menu">
        <li>
            <a href="#">Accueil</a>
        </li>
        <li>
            <a href="#">Streams</a>
            <ul>
                <li><a href="#">Rolesafe</a></li>
                <li><a href="#">Drilliak</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Articles</a>
        </li>
        <li>
            <a href="#">A propos</a>
        </li>
    </ul>
</nav>