@font-face {
  font-family: 'KeepCalm';
  src: url('KeepCalm-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'BigNoodle';
  src: url('big_noodle_titling.ttf') format('truetype')
}

body
{
  margin: 0;
  background-color: #262626;
  color: #F9F9F9;
}

#bloc_page
{
  width: 100%;
  margin: auto;
}

header
{
  background-image: -webkit-linear-gradient(top, #C82829, #880000);
  background-image: -moz-linear-gradient(top, #C82829, #880000);
  background-image: -ms-linear-gradient(top,#C82829, #880000);
  background-image: -o-linear-gradient(top, #C82829, #880000);
  background-image: linear-gradient(to bottom, #C82829, #880000);
  display: flex;
  align-items: flex-end;
  font-family: 'BigNoodle';
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid black;
  height: 70px;
}

/*Titre + logo*/
#logo
{
  height: 70px;
  margin: 0;
  display: flex;
}

#img_logo
{
  height:60px;
  margin:5px;
}

h1
{
  font-family:'KeepCalm';
  margin-top: 10px;
  padding-top: 0;
}

/*Barre navigation*/
.nav_menu
{
  padding: 0;
  margin: 0;
  margin-left: 100px;
  list-style-type: none;
  display: flex;
  text-align: left;
  font-weight : bold;
  justify-content: space-around;
  width:100%;
}

.nav_menu a
{
  font-size: 1.3em;
  color: #F9F9F9;
  padding-bottom: 3px;
  text-decoration: none;
}

.nav_menu a:hover
{
  color: #760001;
}

.nav_menu li
{
  float : left;
  width: 150px;
}

.nav_menu li:hover ul
{
  left: auto;
}

.dropdown_menu
{
  background-color: #880000;
  font-size: 0.7em;
  font-weight : normal;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  flex-direction: column;
  left: -999em;

}

.dropdown_menu li
{
  width: 100px;
  padding: 4px;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/*identification / inscription*/
#authenticate
{
  display: flex;
  flex-direction: row;
  height: 70px;
}

#connexion_bloc
{
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: flex-start;
}

#submit_button
{
  position: absolute;
}

