body
{
  margin: 0;
  background-color: #262626;
  color: #F9F9F9;
}

#bloc_page
{
  width: 100%;
  margin: auto;
}

header
{
  background-color: #C82829;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

#logo
{
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;
}

.nav_menu
{
  padding: 0;
  margin: 0;
  list-style-type: none; /*pas de points*/
  display: flex;
  text-align: left;
  font-weight : bold;
}

.nav_menu a
{
  font-size: 1.3em;
  color: #F9F9F9;
  padding-bottom: 3px;
  text-decoration: none;
  width: 100px;
}

.nav_menu a:hover
{
  color: #760001;
}

.nav_menu li
{
  float : left;
  width: 150px;
}

.nav_menu li:hover ul
{
  left: auto;
}

.dropdown_menu
{
  background-color: #C82829;
  font-size: 0.7em;
  font-weight : normal;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  flex-direction: column;
  left: -999em;

}

.dropdown_menu li
{
  width: 100px;
  padding: 4px;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}