{%  extends "TCSPlatformBundle::baseTCS.html.twig" %}

{% block pageTitle %}BroHazard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {% for post in posts %}
        <p> {{ post.content }} </p>
        <p> {{ post.creationDate|date("m/d/Y") }}</p>
    {% endfor %}
{% endblock %}